@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body{
    font-family: "anta",sans-serif;
    margin: 0;
    background-color: #d6cab49d !important;
}

*{
    box-sizing: 16px;
}

a{
    text-decoration: none;
}